.banner-card {
  height: 70vh;
  width: 100vw;
  position: relative;
  color: white;
}
.banner-card img {
  height: 70vh;
  width: 100%;
}
.babber-heading {
  position: absolute;
  top: 40vh;
  left: 5rem;
  font-size: xx-large;
  margin-bottom: 1rem;
}
.banner-text {
  top: 55vh;
  left: 5rem;
  position: absolute;
}
